.content-section {
  gap: 3rem;
  margin: 4rem 2rem;
}
.faqs-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.faqs-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.faqs-section h1 {
  font-weight: lighter;
}
.faqs {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.faq {
  width: 60vw;
  border: 1px solid gray;
  border-radius: 6px;


}
.faqs-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: sans-serif;
  letter-spacing: 0.7px;
  line-height: 24px;
}
.faq-question {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  height: 3rem;
  transition: 4s;
}
.faq-button {
  cursor: pointer;
  transform: rotate(90deg);
  transition: rotate 0.35s ease-in-out;
}

.faq-answer {
  border-radius: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.faq-ques-text {
  text-align: center;
}
.rotate {
  transform: rotate(0deg);
}
.hide.show {
  display: block;
  /* border: 2px solid black; */
  padding: 1.5rem;
  box-shadow: 0 0 25px gray;


}

.sub-head{
  color: black;
    display: block;
    font-family: sans-serif, monospace;
    font-size: 16px;
    font-weight: 500;
    width: 90px;
    height: 25px;

}

.form-f{
  width: 400px;
    height: 40px;
    border-radius: 8px;
  border: 2px solid gray;
    padding: 6px;
    padding-left: 27px;
    /* background-color:royalblue; */

    margin-bottom: 10px;
    font-size: 16px;
}