.main-section {
  gap: 10rem;
}
.content-section {
  gap: 3rem;
  padding-left: 30rem;
}
.heading-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.7rem;
  font-family: var(--font-primary);
}
.report-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.report-form form input {
  width: 33vw;
  height: 6vh;
  border-radius: 6px;
  border: 1px solid gray;
  padding: 0 6px;


}
.report-form form textarea {
  border-radius: 5px;
  width: 33vw;
  height: 20vh;
  border-radius: 6px;
  border: 1px solid gray;
  padding: 0 6px;

}
::placeholder {
  font-family: monospace;
  
}

