
.mainContainer{
    width:100%;
    height: auto;
    margin: 1rem 0;


}
.mc-div{
    width:calc(100%-80px);
    padding: 2rem 40px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;

}
.login-img-box{
    
    width: 40%;


}
.login-img-box img{
    width: 100%;

}
.error-message{
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    

}
.error-message p{
    color: var(--color-primary);
    font-size: 16px;
    font-family: var(--sans);
    padding:12px;
    margin: 6px;

}
.cross-btn i{
    font-size: 22px;

}
.sub-c{
    width: 35%;
    height: 450px;
    background-color: white;
    color: black;
    border: 2px solid white;
    box-shadow: 0 0 25px gray;
    border-radius: 9px;
    
    
}
.sub-c-1{
    width: auto;
    height: auto;
    /* background-color: salmon; */
    margin: 40px;


}
.head{
    font-size: 32px;
    text-align: center;
    font-family: var(--font-primary);
    font-weight: 600;
}
.form{
    /* background-color: #35bda4; */
    width: 100%;
    height: 250px;
    margin-top: 25px;


}
.form-c-1{
    width: 40px;
    margin: 8px 0px 8px 0px;
}
.sub-head{
    color: black;
    display: block;
    font-family: sans-serif,monospace;
    font-size: 16px;
    font-weight: 500;
    width: 90px;
    height: 25px;
}
.form-f{
    width: 330px;
    height: 30px;
    border: none;
    padding: 6px;
    padding-left: 27px;
    /* background-color:royalblue; */
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
    font-size: 16px;
}

#forgot a{
    font-family: sans-serif;
    font-size: 13px;
    /* display: inline-block; */
    color:var(--black);
    float: right;
    text-decoration: none;
    position: relative;
    top: -10px;
    


}

#forgot a:hover{
    text-decoration: underline;

}

.login-btn{
    width: 340px;
    background-color:var(--color-primary);
    height: 40px;
    color: white;
    font-weight: 600;
    border: 2px solid var(--color-primary);
    border-radius: 25px;
    position: relative;
    top: 25px;
    
}
.login-btn:hover{
    cursor: pointer;
    background-color: var(--color-primary);
    box-shadow: 0 0 25px var(--color-primary);
}
.sign-up{
    width:  100%;
    height: auto;
    text-align: center;
    position: relative;
    top: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.sign-up span a{
    color: #1068b9;
    text-decoration: none;
    
    

}
.sign-up span a:hover{
    text-decoration: underline;
    color: var(--black);
}

.input-img{
    height: 20px;
    position: absolute;
    transform: translateY(2px);
    margin-left: -1px;

}

@media only screen and (max-width:1020px) and (min-width:800px){
    .mc-div{
        padding: 4rem 20px;
        gap:5%;
    }
    .sub-c{
        width: 45%;
        margin: 0;
    }
    .sub-c-1{
        width: auto;
        margin: 40px 20px;

    }
    .form-f{
        width: 300px;

    }
    .login-btn{
        width: 300px;

    }
    .login-img-box{
        width: 45%;

    }

    
}



@media only screen and (max-width:480px) and (min-width:280px){
    .login-img-box{
        display: none;

    }
    
    .mc-div{
        padding: 2rem 12px;
        gap: 0%;

    }
    .sub-c{
        width: auto;
        margin: 0;
    }
    .sub-c-1{
        width: auto;
        margin: 40px 12px;

    }


    
}