.main-section {
  gap: 10rem;
}
.content-section {
  gap: 3rem;
  /* padding-left: 30rem; */
}
.heading-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.7rem;
  font-family: var(--font-primary);
}
.report-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.report-form form input {
  width: 33vw;
  height: 6vh;
  border-radius: 6px;
  border: 1px solid gray;
  padding: 0 6px;


}
.report-form form textarea {
  border-radius: 5px;
  width: 33vw;
  height: 20vh;
  border-radius: 6px;
  border: 1px solid gray;
  padding: 0 6px;

}
::placeholder {
  font-family: monospace;
  
}
.main-section{
  gap: 0;
}
.content-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
@media (min-width:561px){
  .heading-section{
    margin-top: 2vh;
  }
  .report-form{
    width: 100%;
    margin-bottom: 20px;
  }
  .report-form form textarea,
  .report-form form input{
    width: 100%;
  }
}
@media (max-width:560px){
  .heading-section{
    margin-top: 15vh;
    align-items:baseline;
  }
  .heading-section h1:nth-child(2){
    margin-top: 20px;
  }
  .report-form{
    width: 100%;
    margin-bottom: 20px;
  }
  .report-form form textarea,
  .report-form form input{
    width: 100%;
  }
  .report-form button{
    font-size: 18px;
    padding: 10px 30px;
  }
}