/* @media (max-width:1220px){
    .welcome-img{
        height: 300px;
    }
}
@media (max-width:1120px){
    .welcome-img{
        height: 250px;
    }
}
@media (min-width:1000px){
    .mobile-links{
        display: none;
    }
    .content-section{
        gap: 0;
        margin: 0;
        padding-right: 10px;
    }
    .welcome {
        flex-direction: row;
        margin: 2vh 0;
        gap: 4rem;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        padding: 0 2rem;

    }
    .welcome .welcome-text{
        width: 70%;
    }
    .cogni-about,
    .dp-about{
        flex-direction: row-reverse;
        margin: 2vh 0;
        gap: 2rem;
        width: 100%;
        justify-content: space-between;
        align-items: baseline;
        padding: 0 2rem;
        height: 60vh;
        margin-bottom: 4rem;
    }
    .cogni-about{
        align-items:center;
        flex-direction: row-reverse;
    }
    .cogni-about-text{
        align-items: flex-start;
        gap: 1rem;
        width: 50%;
    }
    .welcome-img{
        height: 220px;
    }
    .cogni-about img{
        height: 300px;
    }
    .line-bottom{
        display: none;
    }
    .list{
        gap: 8px;
    }
    .dp-about{
        flex-direction: row;
    }
}
@media (max-width:1000px) {
    .content-section{
        gap: 0;
        margin: 0;
        padding-right: 10px;
    }
    .welcome {
        flex-direction: column;
        margin: 2vh 0;
        gap: 2rem;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .welcome_image{
        width: 100%;
    }
    .welcome_image img{
        width: 100%;
    }
    .cogni-about img {
        height: 300px;
        width: auto;
    }
    .welcome_image img{
        height: fit-content;
    }
    .cogni-about,
    .dp-about{
        flex-direction: column;
        margin: 2vh 0;
        gap: 2rem;
        width: 100%;
        justify-content: space-between;
        align-items: baseline;
    }
    .cogni-about{
        align-items:center;
        flex-direction: column;
    }
    .cogni-about-text{
        width: 100%;
    }
    .mobile-links{
        display: none;
    }
    .navbar__links{
        gap: 1.4rem;
    }
}
@media (max-width:900px) and (min-width:559px) {
    .mobile-links{
        display: none;
    }
    .navbar__links{
        width: 2rem;
    }
    .log-buttons{
        flex-direction: column;
        margin-left: 5px;
    }
    .navbar{
        padding: 1rem;
    }
    .navbar__logo img {
        height: 4rem;
        width: 3rem;
    }
    .button{
        padding: 0;
        margin: 10px 0px;
        color: black;
    }
    .pc_logo{
        display: none;
    }
    .tab_logo{
        display: block;
    }
    .navitem{
        display: none;
    }
    .register-button,
    .login-button{
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .button i{
        margin: 0;
        font-size: 20px;
    }
    .link i{
        font-size: 20px;

    }
    /* content styling */
/* .content-section{
        margin: 0;
        gap: 0;
        padding: 0 12px;
    }
    .cogni-about,
    .dp-about,
    .welcome{
        flex-direction: column;
    }
    .welcome_image {
        object-fit: contain;
        width: 100%;
        padding-right: 10px;
    }
    .welcome-img {
        height: auto;
        width: 100%;
    }
    .flex-cont {
        display: flex;
        gap: 2rem;
        margin: 3rem 0;
    align-items: revert;
    padding: 2rem 1rem;
    }
    .dp-about{
        width: 100%;
        padding-right: 10px;
        margin: 2rem 0 4rem 0;
    }
    .cogni-about{
        padding-right: 10px;
        width: 100%;
        margin: 2rem 0 4rem 0;
    }
    .cogni-about img {
        height: 300px;
        width: auto;
    }
    .cogni-about-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* footer styling */
/* .footer-text{
        gap: 30px;
    }
    .cogni-links div:first-child{
        gap: 1.5rem;
    }
    .footer-links{
        gap: 1.5rem;
    }
} */
/*
@media (max-width:560px){
    
    .footer-text{
        flex-direction: column;
    }
    .content-section{
        padding: 0 15px ;
        
    }
    .cogni-desc{
        width: 90%;
    }
    .cogni-links {
        align-items: baseline;
        width: 90%;
    }
    .cogni-desc h1,
    .cogni-about-text h1,
    .dp-about h1,
    .welcome-text h1{
        font-size: var(--font-mid-medium);
    }
    .cogni-links a,
    .cogni-desc p,
    .list{
        font-size: 0.9rem;
    }
    
  
    .main-section{
        flex-direction: column;
    }
    .navbar{
        position: fixed;
        width: 96vw;
        height: 10vh;
        top: 0;
        margin: 10px;
        left: 0;
        right: 0;
        flex-direction: row;
        justify-content: space-between;
    }
    .mobile-links,
    .tab_logo{
        display: none;
    }
    .pc_logo{
        display: block;
    }
    .navbar__logo img{
        width: 5rem;
        height: auto;
    }
    .navbar__links,
    .log-buttons{
        display: none;
    }
    .hamburger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    
    .bar {
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 3px 0;
        transition: 0.4s;
    }
    
    .change .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .change .bar:nth-child(2) {
        opacity: 0;
    }
    
    .change .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .cross .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .cross .bar:nth-child(2) {
        opacity: 0;
    }
    
    .cross .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .mobile-links{
        position: absolute;
        top: 11vh;
        left: 0;
        right: 0;
        width: calc(94vw);
        padding: 15px;
        background-color: white;
        border: 2px solid #d0d2d9;
        box-shadow: 5px 4px 20px 0px #b7b7c0;
        border-radius: 1rem;
    }
    .navitem{
        display: block;
    }
    .align-items{
        font-size: 18px;
        margin-bottom: 5px;
        margin: 2rem 0;
    }
    .welcome{
        margin-top: 15vh;
        margin-bottom: 4rem;
    }
} 
*/

/* feature -1 changes new ui */

@media only screen and (max-width: 900px) and (min-width: 480px) {
  nav {
    padding: 1rem 2.5rem;
    display: inline-flex;
    align-items: center;
  }
  .checkbtn {
    font-size: 36px;
    color: var(--apple-green);
    float: right;
    line-height: 80px;
    margin-right: 40px;

    cursor: pointer;
  }

  #check {
    display: none;
  }

  .checkbtn {
    display: block;
    position: absolute;
    right: 0px;
  }

  .menu-list {
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--white);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    padding-top: 70px;
  }

  .nav-subs {
    color: var(--black);
  }
  .menu-list li {
    display: block;
    margin: 15px 0;
    line-height: 30px;
  }

  .menu-list li a {
    font-size: 20px;
    color: #7e7c7c;
    text-decoration: none;
  }
  .menu-list li a:hover,
  a.active {
    color: var(--color-primary);
    text-decoration: underline;
    border-bottom: 0px solid #7e7c7c;
  }

  #check:checked ~ ul {
    z-index: 999;
    left: 0;
    top: 90px;
  }
  .nav-ul-social {
    display: none !important;
  }

  .name span {
    font-size: 3rem;
  }

  #intro {
    padding: 0 3rem;
    gap: 3rem;
    height: 100vh;
  }

  #intro h2 {
    font-size: 2.5rem;
  }
  .intro-img {
    width: 50vw;
  }

  #about {
    padding: 2rem 2rem 4rem 2rem;
  }
  .about-main {
    flex-wrap: wrap !important;
  }
  .about-container {
    padding: 1.5rem;
  }
  .about h2 {
    font-size: 36px;
  }
  .post-heading {
    font-size: 28px !important;
  }

  .cta-heading {
    font-size: 24px;
  }
  .cta-text {
    font-size: 18px;
  }
  .cta-button {
    padding: 0.8rem 1rem;
    font-size: 18px;
  }

  .foot-img-cont img{
    width: 65%;
  }

  .elastic-section{
    height: 60vh;
    padding: 6rem 2rem;

  }
}

@media only screen and (max-width: 480px) and (min-width: 280px) {
  nav {
    padding: 1rem;
    display: inline-flex;
    align-items: center;
  }

  .checkbtn {
    font-size: 26px;
    color: var(--black);
    float: right;
    line-height: 80px;
    margin-right: 40px;

    cursor: pointer;
  }

  #check {
    display: none;
  }

  .checkbtn {
    display: block;
    position: absolute;
    right: 0px;
  }

  .menu-list {
    list-style-type: none;
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--white);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    padding-top: 70px;
  }

  .logo h1 a span {
    font-size: 18px;
  }

  /* side items  */
  .side-items {
    display: none;
  }

  .mobile-side-items-1,
  .mobile-side-items-2 {
    display: block;
  }
  .mobile-side-items-1 {
    display: flex;

    position: relative;
    right: 3rem;
    font-size: 18px;
  }
  .mobile-side-items-2 {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .nav-subs {
    color: var(--black);
  }
  .menu-list li {
    display: block;
    margin: 15px 0;
    line-height: 30px;
  }

  .menu-list li a {
    font-size: 20px;
    color: #7e7c7c;
    text-decoration: none;
  }
  .menu-list li a:hover,
  a.active {
    color: var(--color-primary);
    text-decoration: underline;
    border-bottom: 0px solid #7e7c7c;
  }

  #check:checked ~ ul {
    z-index: 999;
    left: 0;
    top: 60px;
    gap: 1rem;
  }
  .nav-ul-social {
    display: none !important;
  }

  .logo {
    font-size: 20px;
  }

  .logo-img {
    width: 28px;
  }

  .name span {
    font-size: 28px;
  }

  #intro {
    padding: 5rem 1rem;
    gap: 0;
    height: 100vh;
  }
  .blog-link {
    padding: 10px;
    font-size: 16px;
  }

  #intro h2 {
    font-size: 20px;
  }
  .intro-img {
    width: 55vw;
    margin: 2rem 0;
  }

  #about {
    padding: 2rem 1rem 4rem 1rem;
  }
  .about-main {
    flex-wrap: wrap;
  }
  .about h2 {
    font-size: 28px;
  }
  .about-content h3 {
    font-size: 24px;
  }

  .about-container {
    padding: 1.5rem;
  }

  .cta-heading {
    font-size: 24px;
  }
  .cta-text {
    font-size: 18px;
  }
  .cta-button {
    padding: 0.8rem 1rem;
    font-size: 18px;
  }

  .elastic-section {
    height: calc(100vh - 5rem);
    padding: 80px 20px;
  }
  .flexibilty-section {
    flex-direction: column;
    text-align: center;
    padding: 80px 20px;
  }
  .scalability-section {
    padding: 80px 20px;
    height: 100vh;
  }
  .foot-img-cont img {
    width: 39%;
  }
  .container-second {
    flex-direction: column;
    text-align: center;
  }
  .visual {
    margin-top: 100px;
    flex: unset;
    height: 14vh;
  }

  .particle-1 {
    top: 11%;
    left: 41%;
  }
  .particle-2 {
    top: 51%;
    right: 39%;
  }
  .particle-3 {
    bottom: 40%;
    left: 40%;
  }
  .particle-4 {
    top: 10%;
    right: 40%;
  }
  .server-1 {
    top: 52%;
    left: 1%;
  }
  .server-2 {
    display: none;
  }
  .server-3 {
    bottom: 98%;
    left: 0%;
  }
  .server-4 {
    bottom: 103%;
    right: 0%;
  }
  .server-5 {
    top: 57%;
    right: 0%;
  }

  .hexagon{
    top: -68%;
  left: 22%;
  }
}
