* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-primary: 'Ubuntu', sans-serif;
  --font-secondary: sans-serif;
  --color-primary: #2457c5;
  --color-primary-light: rgba(36, 87, 197, 0.3);
  --black:#171321;
  --color-secondary: #9393ef;
  --font-ex-small: 0.4rem;
  --font-small: 0.75rem;
  --font-mid-medium: 1.5rem;
  --font-medium: 2rem;
  --font-mid-large: 2.5rem;
  --font-large: 3rem;
  --font-ex-large: 3.5rem;

}

a {
  text-decoration: none;
}
.list {
  letter-spacing: 0.05rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 1.1rem;
  font-family: sans-serif;
  align-items: flex-start;
}
/* utilities */
.link {
  color: black;
  font-family: var(--font-primary);

}
.link:hover {
  color: #2457c5;
  font-weight: 530;
}
.icons {
  color: black;
}
.font-primary {
  font-family: var(--font-primary);
  font-weight: 400;
  font-style: normal;
}
.font-secondary {
  font-family: var(--font-secondary);
}
.font-ex-large {
  font-size: var(--font-ex-large);
}
.font-large {
  font-size: var(--font-large);
}
.font-mid-large {
  font-size: var(--font-mid-large);
}
.font-mid-medium {
  font-size: var(--font-mid-medium);
}
.font-medium {
  font-size: var(--font-medium);
}
.font-small {
  font-size: var(--font-small);
}
.font-light {
  color: var(--color-secondary);
}
.align-items {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}
.btn-primary {
  font-family: var(--font-primary);
  background-color: var(--color-primary);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: white;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  transition: 0.3s;
}
.btn-secondary {
  font-family: var(--font-primary);
  background-color: var(--color-primary);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.btn-secondary:hover {
  background-color: white;
  color: var(--color-primary);
  border: 2px solid var(--color-primary);
  transition: 0.3s;
}
.flex-cont {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin: 4rem 0;
  
}
.blue-text {
  color: var(--color-primary);
}
/* main section */
.main-section {
  display: flex;
  /* justify-content: center; */
  
  /* gap: 2rem;
  padding: 0 2.87rem; */
}
/* content section */
.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 2rem 2rem 4rem;
  gap: 8rem;
  
}
/* navbar */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1.87rem;
  border: 2px solid #d0d2d9;
  box-shadow: 5px 4px 20px 0px #b7b7c0;
  margin: 2vh;
  border-radius: 1rem;
  gap: 2rem;
  position: sticky;
  top: 2vh;
  background: white;
  gap: 2rem;
  height: 96vh;
  
}
.tab_logo{
  display: none;
}
.navbar__logo img {
  height: 5.75rem;
  width: 9.55rem;
  
}
.navbar__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  width: 14rem;
  
}

.auth {
  display: flex;
  align-items: center;
  gap: 1rem;
  display: none !important;
}
/* header   */
.welcome .welcome-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}
.welcome-img {
  height: 40vh;
  
}
.welcome-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.dp-search {
  display: flex;
}
.dp-search img {
  border-radius: 0.625rem 0 0 0.625rem;
  background-color: rgba(126, 124, 124, 0.5);
}
.dp-search input {
  border: none;
  border-radius: 0 0.625rem 0.625rem 0;
  background-color: rgba(126, 124, 124, 0.5);
}
/* About */
.cogni-about-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.cogni-about img {
  height: 50vh;
  
}
/* footer */
footer {
  display: flex;
  flex-direction: column;
  background-color: #2b2d30;
  padding: 7vh 4vh 0;
  gap: 1.5rem;
}
.footer-links {
  display: flex;
  gap: 5.85vw;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}
.footer-links img {
  height: 2.5rem !important;
}
.footer-links i {
  font-size: 2rem;
  opacity: 0.6;
}
.footer-links i:hover{
  opacity: 1;
}
.footer-text {
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  
}
.footer-text a {
  color: white;
  opacity: 0.8;
  font-family: var(--font-primary);
}
.footer-text a:hover{
  opacity: 1;
  text-decoration: underline;
  font-weight: 510

}
.footer-bottom {
  box-sizing: border-box;
  text-align: center;
  padding: 1rem;
  color: #fff;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  font-family: var(--font-secondary);
}
.footer-bottom i {
  color: red;
}

.footer-btn {
  display: flex;
  gap: 1rem;
}
.footer-btn a {
  border: 1px solid white;
}
.footer-btn a:hover{
  text-decoration: none;
}
.cogni-desc {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 1rem;
  
}
.cogni-desc h1{
  font-family: var(--font-primary);

}
.cogni-desc p {
  letter-spacing: 0.5px;
  line-height: 26px;
  font-family: sans-serif;
}
.cogni-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
}
.cogni-links div:first-child {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.base-design {
  width: 27rem;
}
/* speedometer */
/* .gauge {
  position: relative;
  width: -webkit-fill-available;
  height: 56px;
  background: url(./public/img/Ellipse\ 3.png);
  background-size: contain;
  background-position: bottom;
  border-radius: 10px;
  background-repeat: no-repeat;
}
.needle {
  position: absolute;
  left: 48%;
  bottom: 0%;
  transform-origin: bottom;
  transform: rotate(270deg);
  transition: transform 0.5s;
}
.needle img {
  width: 10px;
  height: 42px;
} */
/* animation */
/* .slide-left {
  opacity: 0;
  transform: translateX(-15px);
  transition: opacity 1s cubic-bezier(0.16, 1, 0.3, 1),
    transform 1s cubic-bezier(0.16, 1, 0.3, 1);
}
.slide-right {
  opacity: 0;
  transform: translateX(15px);
  transition: opacity 1s cubic-bezier(0.16, 1, 0.3, 1),
    transform 1s cubic-bezier(0.16, 1, 0.3, 1);
}
.animate {
  transform: translateX(0) !important;
  opacity: 1 !important;
} */
.hide {
  display: none;
}

/* menu */
.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
  
}

.line {
  width: 2rem;
  height: 0.25rem;
  background: #333;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: center;
}

.change .line1 {
  transform: translateY(7px) rotate(-45deg);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: translateY(-13px) rotate(45deg);
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  backdrop-filter: blur(10px);
}

/* login buttons css */

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}

.login-button {
  background-color: #4CAF50; /* Green */
}

.register-button {
  background-color: #008CBA; /* Blue */
}

.button i {
  margin-right: 8px;
}
.log-buttons{
  display: flex;
  flex-direction: row;
  
}

/* message display css */


#message-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.message {
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 3px;
  position: relative;
  opacity: 1;
  font-family: var(--font-secondary);
  transition: opacity 0.5s ease-in-out;
}

.message.success { background-color: #dff0d8; color: #3c763d; }
.message.info { background-color: #d9edf7; color: #31708f; }
.message.warning { background-color: #fcf8e3; color: #8a6d3b; }
.message.danger { background-color: #f2dede; color: #a94442; }

.message .close {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  color: inherit;
}
