<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CogniGuard</title>
    <link rel="stylesheet" href="home.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body class="px-3">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">CogniGuard</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="px-3">
      <div
        class="main-section d-flex flex-column flex-lg-row align-items-center"
      >
        <div class="left text-center text-lg-start">
          <h1>
            Welcome to <span class="main-text">Cogniguard</span> Customer
            Service
          </h1>

          <p>Turning the Lights on Dark Patterns</p>
        </div>
        <div class="welcome-btns text-center">
          <button type="button" class="btn btn-primary">Get Started</button>
          <button type="button" class="btn btn-secondary">Give Feedback</button>
        </div>
        <div class="right text-center mt-3 mt-lg-0">
          <img src="./images/homeimg.png" alt="Home Image" />
        </div>
      </div>
    </section>

    <section class="px-3">
      <h2 class="text-center">
        Why <span class="blue-text">CogniGuard</span> Exists?
      </h2>
      <div class="flex-column flex-lg-row gap-3">
        <div class="card flex-fill">
          <div class="card-body d-flex flex-column">
            <p>Provides on time Dark Pattern detection</p>
            <p>Transparency Score, shows the reality of the website</p>
            <p>Alerts you for Red Flag websites</p>
            <p>Lightweight extension, easy installation and setup</p>
            <p>Helps in eradication of Dark Patterns</p>
            <button type="button" class="btn btn-primary mt-auto">
              Know More
            </button>
          </div>
        </div>

        <div class="card flex-fill">
          <div class="card-body d-flex flex-column">
            <h2>What are Dark Patterns and How do they affect you?</h2>
            <p>Designed to mislead users into making unintended choices</p>
            <p>
              Gathering user data or tracking them without clear consent or
              making it difficult to opt out.
            </p>
            <p>
              Luring users with attractive offers that change or disappear upon
              closer look.
            </p>
            <p>
              Making it hard to cancel subscriptions, often with hidden fees or
              confusing procedures.
            </p>
            <p>
              Creating a sense of false scarcity or pressure to act quickly,
              like countdown timers or limited-time offers.
            </p>

            <button type="button" class="btn btn-primary mt-auto">
              Know More
            </button>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
