{% extends "base.html" %}
{% load static %}
{% block head %}
<!-- <link rel="stylesheet" href="{% static "css/faqs.css" %}"> -->
{% endblock head %}

{% block title %}Dashboard{% endblock title %}

{% block content %}

{% include 'messages.html' %}

{% if user.is_authenticated %}

<h1>Welcome to your dashboard, {{ username }}!</h1>
    <a href="{% url 'home:logoutUser' %}">Logout</a>

{% else %}
    <h1>You are not logged in</h1>
    <a href="{% url 'home:loginUser' %}">Login</a> | <a href="{% url 'home:registerUser' %}">Register</a>

{% endif %}

{% endblock content %}

{% block script %}

 <script src="{% static "js/messages.js" %}"></script> 

{% endblock script %}