{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "css/faqs.css" %}">
{% endblock head %}

{% block title %}FAQs{% endblock title %}

{% block content %}

<div class="content-container">
    <section class="content-section">
        <section class="faqs-heading font-secondary">
            <!-- <h1 class="font-mid-large">Need Help?</h1> -->
            <h1 class="font-mid-large">Welcome to <span class="blue-text">CogniGuard</span> Help Center</h1>
            <h2 class="font-medium">Clarity beyond Words</h2>
        </section>
        <section class="faqs-section">
            <h1 class="font-medium font-secondary">FAQs</h1>
            <div class="faqs">
                <div class="faqs-div">
                    {% if faqs %}
    
                    {% for faq in faqs %}
                    <div class="faq">
                        <div class="faq-question">
                            <span class="material-symbols-outlined">adjust</span>
                            <span class="faq-ques-text">{{ faq.question }}</span>
                            <i class="material-symbols-outlined faq-button">expand_more</i>
                        </div>
                        <div class="faq-answer hide" id="faq1-content">
                            <p> {{ faq.answer}} </p>
                        </div>
                    </div>
    
                    {% endfor %}
    
                    {% endif %}
    
                   
                </div>
            </div>
        </section>
    </section>
</div>

{% endblock content %}

{% block script %}

<script src="{% static "js/faqs.js" %}"></script>

{% endblock script %}