{% extends "base.html" %}
 {% load static %}
 {% block head %}{% endblock head %}

 {% block title %}Home{% endblock title %}

{% block content %}

{% include 'messages.html' %}

<section class="content-section">
    <section class="elastic-section">
        <div class="container-first">
          <div class="logo-container">
            <img src="{% static 'img/cogniguard-logo.png' %}" alt="CogniGaurd" class="home-logo">
            <span>CogniGuard</span>
          </div>
          <h1 class="title">Your Shield against <span class="highlight">Dark Patterns</span></h1>
          <p class="description">
            CogniGuard is a powerful web-extension which is capable of detecting Dark Patterns on E-commerce websites. Powered by Fine-Tuned Deep Learning Models for classifcation tasks on large and contextual datasets, CogniGuard is your shield against deceptive practices.
          </p>
          <div class="cta-container">
            <a href="{% url 'home:registerUser' %}" class="btn btn-primary">Start free trial</a>
            <a target="_blank" href="https://www.youtube.com/watch?v=1DoYa1wVWhA&t=8s&ab_channel=AdarshGeeksLab" class="btn btn-secondary">
              YouTube Demo <i class="fas fa-arrow-right"></i>
            </a>
          </div>
          <a target="_blank" href="https://github.com/4darsh-Dev/CogniGaurd" class="download-link"><i fab fa-chrome></i>Download for Chrome</a>
        </div>
        <div class="shape shape-1"></div>
        <div class="shape shape-2"></div>
        <div class="shape shape-3"></div>
      </section>


      <section class="scalability-section">
        <div class="container-second">
          <div class="content">
            <h2 class="subtitle">SCALABILITY</h2>
            <h1 class="title">Run it on your laptop. Or hundreds of servers with petabytes of data.</h1>
            <p class="description">
              Go from prototype to production seamlessly; you talk to Elasticsearch running on a single node the same way you would in a 300-node cluster.
            </p>
            <p class="description">
              It scales horizontally to handle kajillions of events per second, while automatically managing how indices and queries are distributed across the cluster for oh-so-smooth operations.
            </p>
          </div>
          <div class="visual">
            <div class="hexagon">
              <div class="laptop-icon"></div>
            </div>
            <div class="server server-1"></div>
            <div class="server server-2"></div>
            <div class="server server-3"></div>
            <div class="server server-4"></div>
            <div class="server server-5"></div>
            <div class="particle particle-1"></div>
            <div class="particle particle-2"></div>
            <div class="particle particle-3"></div>
            <div class="particle particle-4"></div>
          </div>
        </div>
      </section>


      <section class="flexibilty-section">
        <div class="text-content">
            <h2>FLEXIBILITY</h2>
            <h1>Store and explore data to fit your needs.</h1>
            <p>Data is constantly evolving, and it can become expensive to store and search all of it. With Elasticsearch you can balance performance and cost. Store data locally for fast queries or <a href="#">remotely on low-cost S3</a> for unlimited data. With <a href="#">runtime fields</a>, you can also quickly onboard your data — and adapt to changes.</p>
        </div>
        <div class="image-content">
            <img src="{% static 'img/flexibility-img.png' %}" alt="flexibility-img">
        </div>
        <div class="animated-shapes">
            <i class="fas fa-circle"></i>
            <i class="fas fa-square"></i>
            <i class="fas fa-triangle"></i>
        </div>
    </section>

    <!-- <section class="cogni-about flex-cont">
        <div class="cogni-about-img">
            <img class="slide-left animate-img" src={% static "img/cogni-about.jpg"%} alt="shield-and-security">
        </div>
        <div class="cogni-about-text slide-right animate-p">
            <h1 class="font-mid-large font-primary">Why <span class="blue-text">CogniGuard</span> Exists...
            </h1>
            <div class="list">
                <p>Provides on time Dark Pattern detection</p>
                <p>Transparency Score, shows the reality of the website</p>
                <p>Alerts you for Red Flag websites</p>
                <p>Lightweight extension, easy installation and setup</p>
                <p>Helps in eradication of Dark Patterns</p>
                <a href="{% url 'home:about' %}" class="btn-secondary">Know More</a>
            </div>
        </div>
    </section>
    <section class="dp-about flex-cont">
        <h1 class="font-mid-large font-primary">
            <hr style="margin: 10px;">
            What are <span class="blue-text">Dark Patterns</span> and How these affect you?
        </h1>
        <div class="list">
            <p> Designed to mislead users into making unintended choices</p>
            <p>Gathering user data or tracking them without clear consent or making it difficult to opt
                out.</p>
            <p>Luring users with attractive offers that change or disappear upon closer look.</p>
            <p> Making it hard to cancel subscriptions, often with hidden fees or confusing procedures.
            </p>
            <p>Creating a sense of false scarcity or pressure to act quickly, like countdown timers or
                limited-time offers.</p>
            <a href="{% url 'home:know-about-dp' %}" class="btn-secondary">Know More</a>

        </div>
        <hr style="margin: 10px;" class="line-bottom">
    </section> -->
</section>
{% endblock content %}


{% block script %}
<script src="{% static 'js/messages.js' %}"></script>
{% endblock script %}