{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">

{% block head %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'css/responsive.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>CogniGuard |Login {% block title %}{% endblock title %}</title>

{% endblock head %}

{% comment %} {% block title %} Login {% endblock title %} {% endcomment %}

{% block main %}
<div class="mainContainer">

    {% include 'messages.html' %}

    <div class="mc-div">
        <div class="sub-c">
        
            <div class="sub-c-1">
                <h1 class="head">Login</h1>
                <div class="form">
                    
                    <form id="my-form" method="post" action="/login/">
                        {% csrf_token %}
                        
                        <div class="form-c-1">
                            <label class="sub-head" for="username">
                                Username
                            </label>
                            <input class="form-f" id="username" name="username" required placeholder="Type your username" type="text">
                        </div>
    

                        <div class="form-c-1">
                            <label class="sub-head" for="password">
                                Password
                            </label>

                            <div class="password-container">
                                <input class="form-f" id="password" name="password" placeholder="Type your Password" type="password" required>
                                <i class="eye-icon" id="togglePassword" onclick="togglePasswordVisibility()">👁️</i>
                            </div>

                        </div>
                        
                    </form>
                    <h4 id="forgot"> <a href="{% url 'home:password_reset' %}">Forgot password?</a></h4>
                    
                    <button id="login-btn" class="login-btn">LOGIN</button>

                    {% comment %} <a href="{% provider_login_url 'google' %}">Login with Google</a> {% endcomment %}
    
                </div>
                <div class="sign-up">
                    <p>By signing in you agree to our <a style="color: var(--color-primary);" href="{% url "home:privacy-policy" %}">privacy policy</a> and <a style="color: var(--color-primary);" href="{% url "home:terms-of-use" %}">terms of use</a>. </p>
                    Don't have an account? <span> <a href="{% url 'home:registerUser' %}">Register</a></span>!
                </div>
            </div>
        </div>
        <div class="login-img-box">
            <img src="{% static 'img/login.webp' %}" alt="Login Image CogniGuard">
        </div> 
    </div>
</div>
{% endblock main %}

{% block script %}
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
<script src="{% static 'js/messages.js' %}"></script>

{% endblock script %}
