 {% extends "base.html" %}
 {% load static %}
 {% block head %}{% endblock head %}

 {% block title %}Home{% endblock title %}

{% block content %}
<section class="content-section">
    <header class="welcome flex-cont">
        <div><img src="{% static 'img/home-img.png' %}" class="welcome-img" alt="shield-and-security"></div>

        <div class="welcome-text">
            <div>
                <h1 class="font-mid-large font-primary">Welcome to <span class="blue-text">Cogniguard</span>
                    Customer Service
                </h1>
                <p class="font-primary font-light">Turning the Lights on Dark Patterns</p>
            </div>
            <div class="welcome-btns">
                <a href="#" class="btn-primary">Get Started</a>
                <a href="#" class="btn-secondary">Give Feedback</a>
            </div>
            <!-- <div class="dp-search">
            <img src="./public/img/Search.svg" alt="search-icon">
            <input type="text">
        </div> -->
        </div>
    </header>
    <section class="dp-about flex-cont">
        <h1 class="font-mid-large font-primary">
            What <span class="blue-text">Dark Patterns</span> are and How these affect you?
        </h1>
        <div class="list">

            <p><b> <img src="https://assets-global.website-files.com/6412167c874d3b52f2a4d962/6412167c874d3b2778a4d9b1_interaction-icon.svg" loading="lazy" alt="" class="icon-1x1-xsmall">
                Tricky Navigation:</b> Misleading users into clicking on things they didnot intend to.
            </p>
            </p><b> <img src="https://assets-global.website-files.com/6412167c874d3b52f2a4d962/6412167c874d3b2778a4d9b1_interaction-icon.svg" loading="lazy" alt="" class="icon-1x1-xsmall">Hidden Data Collection:</b> Gathering user data without clear permission or making it hard to opt out.</p>
            <p><b> <img src="https://assets-global.website-files.com/6412167c874d3b52f2a4d962/6412167c874d3b2778a4d9b1_interaction-icon.svg" loading="lazy" alt="" class="icon-1x1-xsmall">
            Bait and Switch:</b> Promising attractive offers that change or vanish upon closer look.
            </p>
            <p><b> <img src="https://assets-global.website-files.com/6412167c874d3b52f2a4d962/6412167c874d3b2778a4d9b1_interaction-icon.svg" loading="lazy" alt="" class="icon-1x1-xsmall">Fake Urgency:</b> Creating a false sense of urgency or scarcity, like fake countdown timers or "limited-time" offers.
            </p>
            <p><b> <img src="https://assets-global.website-files.com/6412167c874d3b52f2a4d962/6412167c874d3b2778a4d9b1_interaction-icon.svg" loading="lazy" alt="" class="icon-1x1-xsmall">Difficult Cancellations: </b> Making it hard to cancel subscriptions with confusing steps or hidden fees.
            </p>
            <a href="/know-dp" class="btn-secondary">Know More</a>

        </div>
    </section>
    <section class="cogni-about flex-cont">
        <img class="slide-left animate-img" src={% static "img/cogni-about.jpg"%} alt="shield-and-security">
        <div class="cogni-about-text slide-right animate-p">
            <h1 class="font-mid-large font-primary">Why <span class="blue-text">CogniGuard</span> Exists...
            </h1>
            <div class="list">
                <p><b> <img src="https://assets-global.website-files.com/6412167c874d3b52f2a4d962/6412167c874d3b2778a4d9b1_interaction-icon.svg" loading="lazy" alt="" class="icon-1x1-xsmall"> Timely Dark Pattern Detection: </b>
                    Provides real-time alerts to protect against deceptive online practices.
                </p>
                </p><b> <img src="https://assets-global.website-files.com/6412167c874d3b52f2a4d962/6412167c874d3b2778a4d9b1_interaction-icon.svg" loading="lazy" alt="" class="icon-1x1-xsmall">Transparency Score:</b>  Offers a clear and accurate assessment of website trustworthiness.</p>
                <p><b> <img src="https://assets-global.website-files.com/6412167c874d3b52f2a4d962/6412167c874d3b2778a4d9b1_interaction-icon.svg" loading="lazy" alt="" class="icon-1x1-xsmall">
                    Red Flag Alerts:</b> Notifies you about potentially risky websites to ensure online safety.
                </p>
                <p><b> <img src="https://assets-global.website-files.com/6412167c874d3b52f2a4d962/6412167c874d3b2778a4d9b1_interaction-icon.svg" loading="lazy" alt="" class="icon-1x1-xsmall"> Lightweight Extension:</b> Easy to install and set up, ensuring a smooth user experience.
                </p>
                <p><b> <img src="https://assets-global.website-files.com/6412167c874d3b52f2a4d962/6412167c874d3b2778a4d9b1_interaction-icon.svg" loading="lazy" alt="" class="icon-1x1-xsmall"> Eradication of Dark Patterns:  </b> Contributes to eliminating deceptive practices, promoting a safer and more transparent internet.
                </p>
                <a href="/about" class="btn-secondary">Know More</a>
            </div>
        </div>
    </section>
</section>
{% endblock content %}


{% block script %}

{% endblock script %}